
  .generic-table .ant-table-filter-trigger-container{
    display: none;
  }

  .generic-table .ant-table-filter-column-title{
    padding:0px !important;
  }

  .datatable {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column
  }
  .datatable .ant-table-body{
    overflow: hidden;
  }
  
  .datatable .ant-table-content thead th{
    position:sticky !important;
    top:0 !important;
    z-index: 1;
  }
  
  .datatable .ant-table-pagination.ant-pagination{
    position: sticky;
    bottom: 0;
    z-index: 1;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    background-color: #fafafa;
    margin: 0;
    padding: 4px 0;
    padding-left: 4px;
  }
  
  .datatable .ant-spin-container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .datatable .ant-table{
    flex-grow: 1;
  }
  
  .datatable .ant-spin-nested-loading{
    height:100%;
  }
  
  .datatable table tr,.main-table td.ant-table-column-sort{
    background: transparent;
  }

  .generic-table .ant-table-filter-column-title{
    padding:0;
  }

  .generic-table .ant-table-column-sorters,
  .generic-table-filter-select,
  .generic-table-filter-multiselect,
  .generic-table-filter-select .ant-select-selection-item,
  .generic-table .ant-table-column-sorters span:first-of-type{
    width:100%;
  }


  .generic-table-filter-multiselect .ant-select-selection-item{
    width:auto !important;
  }

  /* .generic-table-filter-select svg{
    float: right;
  } */